pandas
langchain
langchain_chroma
transformers
requests
langgraph
typing_extensions
huggingface-hub
nltk
Flask
langchain_huggingface
chromadb
pysqlite3-binary
scikit-learn
numpy
torch
langchain_nvidia_ai_endpoints
markdown
