Flask
huggingface_hub
langchain
langchain_chroma
langchain_community
langchain_huggingface
langchain_nvidia_ai_endpoints
langgraph
Markdown
nltk
numpy
pandas
Requests
scikit_learn
streamlit
torch
transformers
typing_extensions
sqlite3
