Flask==3.1.0
huggingface_hub==0.29.2
langchain==0.3.25
langchain_chroma==0.2.3
langchain_community==0.3.23
langchain_huggingface==0.1.2
langchain_nvidia_ai_endpoints==0.3.10
langgraph==0.4.1
Markdown==3.8
nltk==3.9.1
numpy==2.2.5
pandas==2.2.3
Requests==2.32.3
scikit_learn==1.6.1
streamlit==1.43.1
torch==2.6.0
transformers==4.49.0
typing_extensions==4.13.2